NODE_ENV=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=
DB_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
ADMIN_VERIFICATION_CODE=

EMAIL_USER=
EMAIL_PASS=

PAGBANK_API_URL=
PAGBANK_TOKEN=
PAGBANK_REDIRECT_URL=

QR_CODE_SECRET=